  body{overflow-y: scroll;}
  #zoom_slider{ height: 60px; margin-left: 1em;}
  #zoom_tracker{
      width: 200px;
      height: 9px;
      background:transparent url(../images/slider-images-track-right.png) no-repeat scroll left top;
  }
  #zoom_handle{
      width: 19px;
      height: 20px;
      left: 100px;
      position: relative;
      background:transparent url(../images/slider-images-handle.png) no-repeat scroll left top;
  }
  #zoom_percentage{padding-left: 112px;margin-bottom: 4px;}
  #zoom_out, #zoom_in, #zoom_tracker{
      float: left;
  }
  #zoom_tracker{
      margin: 0 8px;
  }
  #zoom_out, #zoom_in{
      border:1px solid #ccc;
      width: 18px;
      text-align: center;
      text-decoration: none;
  }
  #viewer_menus{ height: 30px;}
  #viewer_menus a{margin-left: 1em; background: #fff;}

  #viewer_informations{
      position: absolute;
      margin: 60px 10px;
  }
  #image_viewer{
      position:relative;
  }
  #info_area{
      position: absolute;
      background: #fff;
      top: 0;
      left: 640px;
      width: 300px;
      height: 480px;
  }
  #current_model{
      margin-left: 1em;
  }
  #graph_list{
      margin-left: 1em;
  }
  #graph_list a{
      margin-left: 0.5em;
  }


  #next_page,
  #pre_page,
  #stop_animation,
  #play_animation{
      text-indent: -9999px;
      float: left;
      width: 16px;
      height: 16px;
      outline-style: none;
  }
  #animation_line{
      -moz-box-sizing:content-box;
      background:#BDBEBD none repeat scroll 0 0;
      border:1px solid #5A615A;
      font-size:0.01mm;
      overflow:hidden;
      position:absolute;
      left:15.5px;
      top: 5px;
      width:393px;
      height: 3px;
  }
  #animation_slider{
      -moz-user-focus:normal;
      -moz-user-select:none;
      background-color:#E6E6E6;
      cursor:default;
      width: 430px;
      height: 16px;
      float:left;
      margin-left: 4px;
      position:relative;
  }
  #animation_handle{
      -moz-user-select:none;
      cursor:default;
      background-image:url(../images/slider_handle_horizontal.png);
      height:14px;
      width:31px;
      top: 1px;
  }
  
  #pre_page{
      background:transparent url(../images/slider_stepleft.jpg) no-repeat scroll left top;
  }
  #next_page{
      background:transparent url(../images/slider_stepright.jpg) no-repeat scroll left top;
  }
  #stop_animation{
      background:transparent url(../images/slider_pause.jpg) no-repeat scroll left top;
  }
  #play_animation{
      background:transparent url(../images/slider_play.jpg) no-repeat scroll left top;
  }
